<div class='flex items-center'>
  <span class='relative inline-flex overflow-hidden rounded-full p-[1px]'>
    <span
      class='absolute inset-[-1000%] animate-pulse bg-amber-500 dark:bg-[conic-gradient(from_90deg_at_50%_50%,#f59e0b_0%,#92400e_50%,#f59e0b_100%)]'
    >
    </span>
    <div
      class='inline-flex items-center justify-center bg-amber-50 w-full px-3 py-1 text-sm font-normal rounded-full cursor-pointer text-black dark:bg-zinc-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap'
    >
      <slot />
    </div>
  </span>
</div>
