<a
  {...Astro.props}
  target='_blank'
  class='dark:bg-zinc-900 px-2 py-0.5 rounded-3xl text-sm border border-zinc-800 hover:border-zinc-700 hover:bg-zinc-800 transition duration-300 flex items-center gap-2 text-decoration-none'
>
  <slot />
</a>
