<a
  {...Astro.props}
  target='_blank'
  class='dark:bg-zinc-800 px-2 py-0.5 rounded-3xl text-sm bg-zinc-50 border border-zinc-300 hover:border-zinc-700 hover:bg-zinc-800 dark:hover:bg-zinc-900 dark:border-zinc-700 dark:hover:border-zinc-700 hover:text-white transition duration-300 flex items-center gap-2 text-decoration-none'
>
  <slot />
</a>
