---
import WorkerIcon from '@/components/icons/WorkerIcon.astro'
import TitleSection from '@/components/TitleSection.astro'

const EXPERIENCE = [
  {
    title: 'Pasante desarrollador Full Stack y mantenimiento de dispositivos',
    company: 'Universitario Rumiñahui',
    date: 'Octubre 2023 - Marzo 2024',
    description:
      'Fui responsable del desarrollo de un sistema de gestión de lugares turísticos del cantón Rumiñahui, implementado con Laravel y MySQL. Además, me encargué del mantenimiento y entrega de dispositivos electrónicos a clientes y estudiantes de la institución.'
  }
]
---

<ol class='relative border-s border-slate-200 dark:border-slate-700 ml-4 py-8'>
  {
    EXPERIENCE.map((exp) => (
      <li class='mb-10 mx-6'>
        <div class='absolute w-3 h-3 bg-slate-200 rounded-full mt-7 -left-1.5 border border-white dark:border-slate-900 dark:bg-slate-700' />

        <section class='flex flex-col p-1 my-2'>
          <div>
            <h3 class='text-2xl w-3/4 font-medium text-blue-500'>
              {exp.title}
            </h3>
            <time class='block my-1 dark:text-zinc-300 text-sm font-normal leading-none'>
              {exp.date}
            </time>
          </div>
          <span class='text-md font-medium '>{exp.company}</span>
        </section>
        <p class='my-4'>{exp.description}</p>
      </li>
    ))
  }
</ol>
