---
const currentYear = new Date().getFullYear()
---

<footer
  class='opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mx-auto container lg:max-w-4xl md: max-w-2xl flex justify-center'
>
  <div
    class='w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4'
  >
    <article class='flex flex-col justify-center gap-2 text-sm'>
      <span>
        @{currentYear}
        <a href='https://github.com/MaicolCode' class='font-medium'>
          MaicolCode
        </a>
        | Todos los derechos reservados
      </span>
      <span>
        Basada del diseño de <a
          href='https://porfolio.dev/'
          class='font-medium'
        >
          midudev
        </a>
      </span>
    </article>
    <ul class='font-medium text-sm flex gap-5'>
      <li><a href='#sobre-mi'>Sobre mí</a></li>
      <li><a href='#contacto'>Contacto</a></li>
    </ul>
  </div>
</footer>

<style>
  a {
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--color-blue-500);
  }

  @media (prefers-color-scheme: dark) {
    a {
      color: var(--color-white);
    }
  }
</style>
