---
const currentYear = new Date().getFullYear()
---

<footer>
  <div>
    <article class='flex flex-col justify-center gap-2 text-sm'>
      <span>
        @{currentYear}
        <a href='https://github.com/MaicolCode' class='hover:underline'>
          MaicolCode
        </a>
        | Todos los derechos reservados
      </span>
      <span>
        Basada del diseño de <a
          href='https://porfolio.dev/'
          class='hover:underline'
        >
          midudev
        </a>
      </span>
    </article>
    <ul></ul>
  </div>
</footer>

<style>
  a {
    color: #00ff6a;
  }
</style>
