---
const navItems = [
  { title: 'Experiencia', href: '#experiencia', label: 'experiencia' },
  { title: 'Herramientas', href: '#herramientas', label: 'herramientas' },
  { title: 'Proyectos', href: '#proyetos', label: 'proyetos' },
  { title: 'Sobre Mi', href: '#sobre-Mi', label: 'sobre-mi' },
  { title: 'Contacto', href: '#contacto', label: 'contacto' }
]
---

<header
  class='fixed top-0 z-10 flex justify-center items-center w-full mx-auto mt-2'
>
  <nav
    class='flex justify-center items-center rounded-lg px-3 py-1 text-sm font-medium bg-zinc-50 shadow-lg'
  >
    {
      navItems.map((item) => (
        <a
          href={item.href}
          aria-label={item.label}
          class='relative block py-2 px-2 transition-colors duration-300 hover:bg-zinc-100 rounded-lg'
        >
          {' '}
          {item.title}
        </a>
      ))
    }
  </nav>
</header>
