<a
  {...Astro.props}
  target='_blank'
  class='dark:bg-zinc-700 px-2 py-0.5 rounded-3xl text-sm border border-zinc-600 hover:border-zinc-500 hover:bg-zinc-600 transition duration-300 flex items-center gap-2 text-decoration-none'
>
  <slot />
</a>
