---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
import NavBar from './NavBar.astro'
---

<div id='container'>
  <header>
    <NavBar />
  </header>
  <main>
    <h1>Un gusto tenerte aquí presente.</h1>
  </main>
</div>

<style>
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20vh;
    color: #333;
  }
</style>
